// colores
$blanco: #fff;
$azul: #244F75;
$turquesa: #60BFBF;
$lila: #8C4B7E;
$amarillo: #F8BB44;
$rojo: #F24B4B;

//fuente

@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");

$medida: 3.5vw;
$grosor: 300;
$familia: "Lato";

// generales //

$alto: 100vh;
$ancho: 100%;
$escondido: hidden;



